* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather";
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 180px;
    background-color: #191411;
}

.promo__img {
    width: 100%;
    position: absolute;
    z-index: 0;
}

nav > ul > li > a {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
}

ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

li {
    margin-right: 115px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: #191411;
}

.info {
    width: 100%;
    position: relative;
    z-index: 2;
}

.main_burger {
    width: 150%;
    margin-left: -190px;
    position: relative;
    z-index: 0;
}

.new__menu {
    background-color: #D3320F;
    border-radius: 100px;
    height: 46px;
    width: 137px; 
    color: #ffffff;
    font-size: 18px;
    border: none;
}

.big__title {
    font-size: 120px;
    color: #ffffff;
    line-height: 130%;
    letter-spacing: 3%;
    text-transform: uppercase;
}

.subtitle {
    font-size: 24px;
    color: #ffffff;
    padding-top: 56px;
}

.orange__button {
    background: linear-gradient(135deg, #da8023 0%, #e2b438 100%);
    height: 62px;
    width: 260px;
    border-radius: 10px;
    color: #191411;
    font-size: 18px;
    margin-top: 56px;
    border: none;
}

.choice {
    padding-top: 100px;
    background-color: #191411;
    background-image: url(./img/whybg.png);
    width: 100%;
}

h2 {
    font-size: 64px;
    color: #ffffff;
    letter-spacing: 3%;
    text-transform: uppercase;
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 100px;
    padding: 60px 180px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 312px;
}

.card__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
}

.card__info__mini {
    align-items: center;
    text-align: center;
}

.card__text {
    font-size: 24px;
    font-weight: bold;
}

.card__text__about {
    font-size: 16px;
    font-weight: 300;
    padding-top: 12px;
}

.cards__burger {
    gap: 24px;
    padding: 60px 150px;
}

.card__burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 384px;
    text-align: left;
    background-color: #211A16;
    border-radius: 16px;
    border: 1px solid #353535;
    padding: 25px;

}

.card__text__burger {
    font-size: 24px;
    font-weight: bold;
    padding: 24px 0 0;
}

.card__text__about__burger {
    font-size: 16px;
    font-weight: 300;
    text-align: left;
}

.group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;
}

.dollar {
    font-size: 32px;
    color: #ffffff;
}

.wt {
    font-size: 16px;
    color: #757575;
}

.orange__button__burger {
    margin: 0;
    height: 62px;
    width: 182px;
    border-radius: 8px;
    border: none;
}

.order_burger {
    margin-left: -190px;
}

.title__order {
    font-size: 64px;
    color: #ffffff;
    line-height: 130%;
    letter-spacing: 3%;
    text-transform: uppercase;
    text-align: center;
}

.info__order {
    border-radius: 16px;
    width: 424px;
}

.subtitle__order {
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    padding-bottom: 40px;
}

.orange__button__order {
    width: 100%;
    margin-top: 24px;
}

input {
    height: 62px;
    width: 100%;
    color: #ffffff;
    background-color: #211A16;
    border: 1px solid #DA8625;
    border-radius: 8px;
    margin: 24px 0 0;
}

input::placeholder {
    font-size: 16px;
    color: #757575;
    padding-left: 10px;
}

.li__footer {
    margin: 0;
    color: #fff;
}

.menu, .order {
    position: relative;
    background-color: #191411;
    z-index: 0;
}

.round__img {
    width: 90%;
    position: absolute;
    z-index: -1;
}

.order__img {
    width: 100%;
    position: absolute;
    z-index: 1;
}

.logo__1 {
    position: absolute;
    z-index: 1;
}

.currency {
    
    position: absolute;
    z-index: 0;
    top: 29px;
}